.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 70px;
    border-bottom: 3px solid #111;
    border-top: 3px solid #111;
    border-left: 3px solid #111;
    border-right: 3px solid #111;
}

.footer span {
    font-weight: bold;
}